################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~10~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~11~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~4~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~5~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~6~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~7~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~8~
/Source/Packages/__history/NovusCodeLibrary_Core_D16.dpk.~9~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~4~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~5~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~6~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~7~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~8~
/Source/Packages/__history/NovusCodeLibrary_Log_D16.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_Log_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Log_D16.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_Log_D16.dpk.~4~
/Source/Packages/__history/NovusCodeLibrary_Log_D16.dpk.~5~
/Source/Packages/__history/NovusCodeLibrary_Log_D16.dpk.~6~
/Source/Packages/__history/NovusCodeLibrary_Log_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_Log_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Parser_D16.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_Parser_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Parser_D16.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_Parser_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_Parser_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Parser_D18.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_RemObjects_D16.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_RemObjects_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_RemObjects_D16.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_RemObjects_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_RemObjects_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_RODA_D16.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_RODA_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_RODA_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_RODA_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_SQLDir_D16.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_SQLDir_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_SQLDir_D16.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_SQLDir_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_SQLDir_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_XML_D16.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_XML_D16.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_XML_D18.dpk.~1~
/Source/Packages/__history/NovusCodeLibrary_XML_D18.dpk.~2~
*.dcu
*.~1~
/Source/Core/Infrastructure/__history/NovusBO.pas.~2~
/Source/Core/Infrastructure/__history/NovusBO.pas.~3~
/Source/Core/Infrastructure/__history/NovusBO.pas.~4~
/Source/Core/Infrastructure/__history/NovusBO.pas.~5~
/Source/Core/Infrastructure/__history/NovusBO.pas.~6~
/Source/Core/Infrastructure/__history/NovusBO.pas.~7~
/Source/Core/Infrastructure/__history/NovusBO.pas.~8~
/Source/Core/Infrastructure/jvcl/__history/NovusXMLBO.pas.~2~
/Source/Core/Infrastructure/jvcl/__history/NovusXMLBO.pas.~3~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~10~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~11~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~12~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~13~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~4~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~5~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~6~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~7~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~8~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~9~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~2~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~3~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~4~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~5~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~6~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~10~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~11~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~12~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~13~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~14~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~9~
/Source/Packages/__history/NovusCodeLibrary_Parser_D18.dpk.~4~
/Source/Packages/__history/NovusCodeLibrary_Parser_D18.dpk.~5~
/Source/Packages/__history/NovusCodeLibrary_XML_D18.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_XML_D18.dpk.~4~
/Source/Packages/NovusCodeLibrary_Parser_D18.dproj.local
/Source/Packages/NovusCodeLibrary_Parser_D18.identcache
/Source/Packages/NovusCodeLibrary_ProjectGroup_D18.groupproj.local
/Source/Packages/NovusCodeLibrary_XML_D18.dproj.local
/Source/Packages/NovusCodeLibrary_XML_D18.identcache
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dproj.local.~2~
/Source/Packages/__history/NovusCodeLibrary_Indy_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Indy_D18.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_Internet_D18.dpk.~2~
/Source/Packages/__history/NovusCodeLibrary_Internet_D18.dpk.~3~
/Source/Packages/__history/NovusCodeLibrary_Internet_D18.dpk.~4~
/Source/Packages/__history/NovusCodeLibrary_Internet_D18.dpk.~5~
/Source/Packages/__history/NovusCodeLibrary_Internet_D18.dpk.~6~
/Source/Packages/NovusCodeLibrary_Indy_D18.dproj.local
/Source/Packages/NovusCodeLibrary_Indy_D18.res
/Source/Packages/NovusCodeLibrary_Internet_D18.identcache
/Source/Packages/NovusCodeLibrary_Internet_D18.res
/Source/Core/Utilities/__history/NovusIndyUtils.pas.~2~
/Source/Core/Utilities/__history/NovusInternetUtils.pas.~2~
*.~10~
/Source/Core/Infrastructure/__history/NovusBO.pas.~11~
/Source/Core/Infrastructure/__history/NovusBO.pas.~12~
/Source/Core/Infrastructure/__history/NovusBO.pas.~13~
/Source/Core/Infrastructure/__history/NovusBO.pas.~14~
/Source/Core/Infrastructure/__history/NovusBO.pas.~9~
/Source/Core/Infrastructure/__history/NovusBOField.pas.~2~
/Source/Core/Infrastructure/__history/NovusBOField.pas.~3~
/Source/Core/Infrastructure/__history/NovusBOField.pas.~4~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~14~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~15~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~16~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~17~
/Source/Core/Utilities/__history/NovusDateStringUtils.pas.~18~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~11~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~12~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~13~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~14~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~15~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~7~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~8~
/Source/Core/Utilities/__history/NovusDateUtils.pas.~9~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~15~
/Source/Packages/__history/NovusCodeLibrary_Core_D18.dpk.~16~
/Source/Packages/__history/NovusCodeLibrary_Parser_D18.dpk.~6~
*.~4~
*.~3~
*.~2~
/Samples/Shell/__history
/Source/Core/Utilities/__history
/Samples/Shell/Win32/Debug/ShellDemo.exe
/Samples/Shell
/Samples/Plugin/__history
/Samples/Plugin/Win32/Debug
*.local
/Samples/Plugin/Project1.identcache
/Source/Core/Plugin/__history
/Samples/Plugin/TestPlugin.identcache
/Samples/Plugin/Project1.deployproj
/Source/Core/__history
/Source/Core/Infrastructure/__history
/Source/Packages/DELPHI10/__history
/Source/Packages/DELPHI10/NovusCodeLibrary_Core.identcache
/Source/Packages/DELPHI10/NovusCodeLibrary_Core.stat
*.stat
*.identcache
/Source/Packages/DELPHI10_1/__history
/Source/Packages/DELPHIXE/__history
/Source/Packages/DELPHIXE2/__history
/Source/Packages/DELPHIXE3/__history
/Source/Packages/DELPHIXE4/__history
/Source/Packages/DELPHIXE5/__history
/Source/Packages/DELPHIXE6/__history
/Source/Packages/DELPHIXE7/__history
/Source/Packages/DELPHIXE8/__history
/Source/Core/Parser/__history
/Source/Core/Log/__history
/Scripts/Output.log
/Source/Packages/DELPHIXE4/NovusCodeLibrary_Core_project.tvsconfig
/Source/Packages/_DELPHIXE4/__history
*.log
/Source/Packages/_DELPHIXE3/__history
/Source/Packages/_DELPHI10/__history
/Source/Packages/_DELPHI10_1/__history
/Source/Packages/_DELPHIXE/__history
/Source/Packages/_DELPHIXE2/__history
/Source/Packages/_DELPHIXE5/__history
/Source/Packages/_DELPHIXE6/__history
/Source/Packages/_DELPHIXE7/__history
